body {
    animation-name: bodyHideOverflow;
    animation-duration: 1.5s;
}

form {
    text-align: center;
    margin: auto;
    animation-name: formBottomTop;
    animation-duration: 1.5s;
}

button {
    cursor: pointer;
}

#movie-list-container,#error-container {
    display: none;
    min-height: 100px;
    text-align: center;
    width: 100%;
    background-color: #333333;
    margin: 24px 0px;
    padding: 24px 0px;
}

#error-container {
    color: red;
    font-size: 18px;
}

#search-container {
    max-width: 410px;
    margin: auto;
}

#search-by-label {
    display: block;
    color: #ffffff;
    margin: 24px 0px 12px 0px;
    max-width: 410px;
    text-align: left;
}

#search-by-input {
    width: 100%;
    max-width: 290px;
}

#submit-button {
    max-width: 115px;
}

.movie-container {
    cursor: pointer;
    display: inline-block;
    background-color: #333333;
    width: 22%;
    margin: 12px;
    opacity: 0;
    transition: 0.6s;
}

.movie-container:hover {
    transform: scale(1.2);
}

.movie-title {
    display: block;
    color: #cccccc;
    margin-bottom: 12px;
}

.movie-image {
    height: 200px;
    max-width: 100%;
}

#pagination {
    display: none;
    margin: 12px 0px 24px 0px;
    color: #ffffff;
    text-align: center;
}

#movie-modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-header {
    padding-right: 24px;
}

#modal-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    width: 45%;
    border: 2px solid #fc9a49;
    border-radius: 24px 24px 0px 24px;
    min-height: 400px;
    max-height: calc(100% - 64px);
    padding: 24px;
    overflow: auto;
}

#modal-title {
    font-size: 24px;
    color: #dddddd;
}

#modal-close {
    position: absolute;
    right: 24px;
    top: 26px;
    font-size: 28px;
    color: #fc9a49;
    cursor: pointer;
}

.modal-wrapper {
    display: none;
}

.modal-label {
    color: #fc9a49;
}

.modal-text {
    color: #eeeeee;
}

#modal-plot {
    font-style: italic;
}

#modal-footer {
    margin-top: 12px;
    border-top: 2px solid #cccccc;
    padding-top: 12px;
}

.movie-imdb-link {
    cursor: pointer;
    text-decoration: none;
}

@keyframes bodyHideOverflow {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

@keyframes formBottomTop {
    0% {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
    }
    100% {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(0% + 125px); /* header height is 125px */
    }
}

@media only screen and (max-width: 600px) {
    .movie-container {
        width: 50%
    }

    #search-by-label {
        text-align: center;
    }

    #submit-button {
        margin-top: 12px;
    }

    #modal-container {
        margin-top: 0px;
        width: auto;
        border: none;
        height: calc(100vh - 48px);
        max-height: unset;
        overflow-y: auto;
    }

    #modal-header {
        padding-right: 48px;
    }

    @keyframes formBottomTop {
        0% {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
        }
        100% {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(0% + 93px); /* header height is 93px */
        }
    }
}