form {
    display: grid;
    justify-content: center;
    text-align: center;
}

#name-and-image {
    margin-top: 24px;
}

#support-image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#support-text {
    color: #eeeeee;
    font-size: 18px;
    margin-top: 16px;
}

#support-text span {
    color: #fc9a49;
}

label {
    color: #eeeeee;
    text-align: left;
    margin-top: 12px;
}

button {
    margin-top: 12px;
    margin-bottom: 48px;
}