form {
    display: grid;
    justify-content: center;
    text-align: center;
}

label {
    color: #eeeeee;
    text-align: left;
    margin-top: 12px;
}

button {
    margin-top: 12px;
    margin-bottom: 48px;
}