form {
    display: grid;
    justify-content: center;
    text-align: center;
}

#support-text {
    color: #eeeeee;
    font-size: 18px;
    margin-top: 24px;
    margin-top: 16px;
}

#support-text span {
    color: #fc9a49;
}

label {
    color: #eeeeee;
    text-align: left;
    margin-top: 12px;
}

button {
    margin-top: 12px;
    margin-bottom: 48px;
}